<div class="card h-100 bg-dark text-white shadow">
    <img 
      [src]="'https://image.tmdb.org/t/p/w500' + tv.poster_path"
      class="card-img-top"
      alt="{{tv.name }}"
    />
  
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{ tv.name }}</h5>
      <p class="card-text smtv">
        <span class="text-muted ">Media Type:</span> {{ tv.media_type | titlecase }}<br>
        <span class="text-muted">Release Date:</span> 
        {{  tv.first_air_date  }}<br>
        <span class="text-muted">Language:</span> {{ tv.original_language | uppercase }}
      </p>
  
      <p class="card-text text-truncate" title="{{ tv.overview }}">
        {{ tv.overview }}
      </p>
  
      <div class="mt-auto">
        <div class="d-flex justify-content-between align-items-center">
          <span class="badge bg-primary">Rating: {{ tv.vote_average }}</span>
          <small class="text-muted">Votes: {{ tv.vote_count }}</small>
        </div>
      </div>
    </div>
  </div>
  