<div class="navbar navbar-dark bg-dark text-white px-4 py-2 d-flex justify-content-between align-items-center flex-wrap">
    <div class="navbar__logo">
      <h2 class="m-0">FANATASY</h2>
    </div>
  
    <nav class="navbar__menu">
      <ul class="nav">
        <li class="nav-item"><a routerLink="/all" routerLinkActive="active" class="nav-link text-white">All</a></li>
        <li class="nav-item"><a routerLink="/movies" routerLinkActive="active" class="nav-link text-white">Movies</a></li>
        <li class="nav-item"><a routerLink="/tv-shows" routerLinkActive="active" class="nav-link text-white">Tv</a></li>
        <li class="nav-item"><a routerLink="/persons" routerLinkActive="active" class="nav-link text-white">People</a></li>
      </ul>
    </nav>
  
    <div class="navbar__search mt-2 mt-md-0">
      <input type="text" class="form-control" placeholder="Search..." />
    </div>
  </div>
  